<!DOCTYPE html>
<html>
<head>
  <script>
    var getCredentials = function(){
      return {
        message: "deliverCredentials", // required
        auth_token: '<%= @user.authentication_token %>', // required
        uid: '<%= @user.uid %>', // required
        data: <%= raw UserSerializer.new(@user, root: false).to_json %>
      };
    };

    window.addEventListener("message", function(ev) {
      if (ev.data === "requestCredentials") {
        ev.source.postMessage(getCredentials(), '*');
        window.close();
      }
    });
  </script>
</head>
<body>
<h3>
  Thanks you for signing up! Please close this window if it does not close automatically.
</h3>
</body>
</html>